.text-small {
  font-size: 85%;
}

.pheader{
  border-bottom:1px solid #FF6B8A;
}

.search-header {
  border: 0.8px solid #FF6B8A;
  border-radius: 30px;
  padding-left: 10px;
}

.search-form [type=text] {
  border: 0px;
  outline: 0;
  box-shadow: 0 0 0 0;
}

.search-form [type=text]:focus {
    border: 0px;
}

.btn:focus {
  border:0;
  box-shadow: 0 0 0 0;
}