@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.nav-link{
    color: #787878;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
}

.nav-link:hover {
    color: #787878;
    opacity: 0.8;
}

.nav-link:focus {
    color: #787878;
}

hr {
    color:#9AE493;
}
